<h1>Hello from bobby</h1>

<!--

To test this, generate some data via `rails console` like this:

    firstpage = Page.new(title: "Hello from bobby", content: "Some sample text here.")
    firstpage.save

-->

<% @pages.each do |page| %>
    <!-- The _path suffix here should be considered as a helper -->
    <a href="<%= page_path(page) %>">
        <%= page.title %>
    </a>
    <p><%= page.content %></p>
    <hr>
<% end %>
