<h1>Hello from bobby</h1>

<!--

To test this, generate some data via `rails console` like this:

    firstpage = Page.new(title: "Hello from bobby", content: "Some sample text here.")
    firstpage.save

-->

<% @pages.each do |page| %>
    <%= link_to page.title, page %>
    <p><%= page.content %></p>
    <hr>
<% end %>
