<h1>Hello from bobby</h1>

<!--

To test this, generate some data via `rails console` like this:

    firstpage = Page.new(title: "Hello from bobby", content: "Some sample text here.")
    firstpage.save

-->

<% @pages.each do |page| %>
  <% unless page.archived? %>
    <%= link_to page.title, page %>
    <p><%= page.content %></p>
    <hr>
  <% end %>
<% end %>

<%= link_to "New Page", new_page_path %>
